/*Palette from https://www.colourlovers.com/palette/4710777/laughter_is_the_cure */

/* All */

body{
    background: #BA6159;
    color: #786C8B;
    font-weight: bold;
}

hr{
    height: 20%;
    background: #AAC3C0;
}

#container {
    background: #C5E5CD;
}

.modal-content{
    background: #BA6159;
    color: #C5E5CD;
}

.modal-content a{
    color: #C5E5CD;
}

.modal-content a:hover{
    color: #C5E5CD;
    text-decoration: underline;
}

#projects{
    padding-left: 1%;
}

.project {
    margin: 1%;
}

.clickable-img:hover {
    border: solid 3px #BA6159;
}

.contact-info {
    background: #AAC3C0;
}

a{
    color: #877490;
    font-weight: normal;
}

a:hover{
    color: #BA6159;
}

/* Resume */

.group{
    margin-left: 1%;
}

.job {
    padding: 2%;
    margin-left: 3%;
    font-size: 15px;
}

.job-title:hover {
    font-style: italic;
}

.years-employed {
    font-style: italic;
}

/* Games */

#game {
    height: 700px;
}

nav {
    background: #AAC3C0;
}

/* War! */

.page{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
}

#tests{
    display: grid;
    grid-template-rows: auto;
}

#controlButtons{
    display: grid;
    grid-template-columns: auto auto auto auto;
}

#controlButtons button{
    height: 30px;
}
